
<app-header></app-header>
<body class="indextwo">

    <div class="main-wrapper headertwo">
  
  
    
    
    <section class="section section-banner">
    <div class="container">
    <div class="banner-wrapper">
    <div class="banner-header text-center">
    <img src="assets/img/beauty.png" class="mb-4" alt="beauty-icon">
    <h3>Organisez. Gérez. Optimisez.</h3>
    <h2 class="mb-0">Bienvenue  </h2>
    <h2>dans notre Système de Gestion des Bandes et des Armoires</h2>
    <div class="d-flex justify-content-center">
    <a href="login.html" class="bg-btn">Get Started</a>
    <a href="map-list.html" class="out-btn">les utilisateurs</a>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    
    <section class="beauty-select">
    <div class="container">
    <div class="row">
    <div class="col-md-6 col-lg-6 beauty-sel1">
    <div class="beauty-wrap">
    <div class="overlay-content">
    <div class="beauty-content">
    <a href="#" class="beauty-icon">
    <img src="assets/img/be-icon.png" alt="beauty-icon">
    </a>
    <h3>Bandes</h3>
    <a href="map-grid.html"><h2 >Gérez des Bandes avec Simplicité</h2></a>
<p style="color:black"> vous pouvez facilement créer et configurer de nouvelles bandes en quelques clics.</p>
        <a href="map-grid.html" class="view-all">Voir tous</a>
    </div>
    </div>
    </div>
    </div>
    <div class="col-md-6 col-lg-6 beauty-sel2">
    <div class="beauty-wrap">
    <div class="overlay-content">
    <div class="beauty-content">
    <a href="#" class="beauty-icon">
    <img src="assets/img/home2/prod-icon.png" alt="beauty-icon">
    </a>
    <h3>Armoires</h3>
    <a href="my-student.html"><h2>Gérez les Armoires Efficacement</h2></a>
   <p>Notre interface vous permet de visualiser et de mettre à jour les informations des armoires en temps réel.</p>
    <a href="my-student.html" class="view-all">Voir tous</a>
    </div>
    </div>
    </div>
    </div>
    <div class="col-md-6 col-lg-6"></div>
    </div>
    </div>
    </section>
    
    
    <section class="services">
    <div class="container">
    <div class="section-header text-center">
    <img src="assets/img/beauty.png" class="mb-3" alt="beauty-icon">
    <h2>Ajoutez des Bandes avec Simplicité
    </h2>
    <p>Grâce à notre fonctionnalité d'ajout de bandes, vous pouvez facilement créer et configurer de nouvelles bandes en quelques clics. Remplissez les informations essentielles telles que le nom, le label, les dates de début et de fin, ainsi que le numéro du casier. La procédure est rapide et vous permet de garder un suivi précis de chaque bande pour une gestion optimale.</p>
    </div>
 

    </div>
    </section>
    
    

    
    

    
    

    
    
    <section class="reviews">
    <div class="container">
    <div class="section-header text-center">
    <img src="assets/img/beauty.png" class="mb-3" alt="beauty-icon">
    <h2>REVIEWS</h2>
    <p>They are highly qualified and trained in their areas</p>
    </div>
    <div class="testimonial-container">
    
    <div class="row image-row">
    <a class="prev" onclick="if (!window.__cfRLUnblockHandlers) return false; plusSlides(-1)" data-cf-modified-bf545828fa8b8054a7722320->&#10094;</a>
    <img class="testitwo testi-user-img cursor" src="assets/img/home2/providers/stylist-01.png" onclick="if (!window.__cfRLUnblockHandlers) return false; testitwocurrentSlide(1)" alt="User" data-cf-modified-bf545828fa8b8054a7722320->
    <img class="testitwo testi-user-img cursor" src="assets/img/home2/providers/stylist-02.png" onclick="if (!window.__cfRLUnblockHandlers) return false; testitwocurrentSlide(2)" alt="User" data-cf-modified-bf545828fa8b8054a7722320->
    <img class="testitwo testi-user-img cursor" src="assets/img/home2/providers/stylist-03.png" onclick="if (!window.__cfRLUnblockHandlers) return false; testitwocurrentSlide(3)" alt="User" data-cf-modified-bf545828fa8b8054a7722320->
    <img class="testitwo testi-user-img cursor" src="assets/img/home2/providers/stylist-04.png" onclick="if (!window.__cfRLUnblockHandlers) return false; testitwocurrentSlide(4)" alt="User" data-cf-modified-bf545828fa8b8054a7722320->
    <img class="testitwo testi-user-img cursor" src="assets/img/home2/providers/stylist-05.png" onclick="if (!window.__cfRLUnblockHandlers) return false; testitwocurrentSlide(5)" alt="User" data-cf-modified-bf545828fa8b8054a7722320->
    <img class="testitwo testi-user-img cursor" src="assets/img/home2/providers/stylist-06.png" onclick="if (!window.__cfRLUnblockHandlers) return false; testitwocurrentSlide(6)" alt="User" data-cf-modified-bf545828fa8b8054a7722320->
    <img class="testitwo testi-user-img cursor" src="assets/img/home2/providers/stylist-07.png" onclick="if (!window.__cfRLUnblockHandlers) return false; testitwocurrentSlide(7)" alt="User" data-cf-modified-bf545828fa8b8054a7722320->
    <a class="next" onclick="if (!window.__cfRLUnblockHandlers) return false; plusSlides(1)" data-cf-modified-bf545828fa8b8054a7722320->&#10095;</a>
    </div>
    
    <div class="mySlides text-center testitwoslides">
    <h3>Daicey Becker</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci enim, mattis nibh aliquam dui, nibh faucibus aenean. Eget volutpat sed fermentum, eget tincidunt aliquet. Et, amet, scelerisque ultrices fermentum, adipiscing</p>
    <h4>Matohinsda - <span> Makeup Artist </span></h4>
    </div>
    <div class="mySlides text-center testitwoslides">
    <h3>Allta Slocum</h3>
    <p>Quam eu tellus congue ridiculus quam scelerisque sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci enim, mattis nibh aliquam dui, nibh faucibus aenean. Eget volutpat sed fermentum, eget tincidunt.</p>
    <h4>Amil Warfield - <span> Makeup Artist </span></h4>
    </div>
    <div class="mySlides text-center testitwoslides">
    <h3>Phauns Molina</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    <h4>Lilibeth - <span> Makeup Artist </span></h4>
    </div>
    <div class="mySlides text-center testitwoslides">
    <h3>Aurora Earl</h3>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
    <h4>Noach Rossi - <span> Makeup Artist </span></h4>
    </div>
    <div class="mySlides text-center testitwoslides">
    <h3>Tibold Staples</h3>
    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur</p>
    <h4>Tore Reis - <span> Makeup Artist </span></h4>
    </div>
    <div class="mySlides text-center testitwoslides">
    <h3>Lowretta</h3>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
    <h4>Dyna Alger - <span> Makeup Artist </span></h4>
    </div>
    <div class="mySlides text-center testitwoslides">
    <h3>Murdock</h3>
    <p>similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis.</p>
    <h4>Blandino - <span> Makeup Artist </span></h4>
    </div>
    </div>
    </div>
    </section>
    

    
<app-footer></app-footer>
    

    
    
   

