<app-header></app-header>
<body class="indextwo">
  <div class="main-wrapper headertwo">
    
    <div class="content">
    <div class="container">
    <div class="row">
    
    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
    <div class="profile-sidebar">
    <div class="widget-profile pro-widget-content">
    <div class="profile-info-widget">
    <a href="#" class="booking-pro-img">
    <img src="assets/img/student/student-01.jpg" alt="User Image">
    </a>
    <div class="profile-det-info">
    <h3>Richard Wilson</h3>
    <div class="customer-details">
    <h5><i class="fas fa-birthday-cake"></i> 24 Jul 1983, 38 years</h5>
    <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Newyork, USA</h5>
    </div>
    </div>
    </div>
    </div>
    <div class="dashboard-widget">
    <nav class="dashboard-menu">
    <ul>
    <li class="active">
    <a href="instructor-dashboard.html">
    <i class="fas fa-columns"></i>
    <span>Dashboard</span>
    </a>
    </li>
    <li>
    <a href="favourites.html">
    <i class="fas fa-bookmark"></i>
    <span>Bandes</span>
    </a>
    </li>
    <li>
    <a href="dependent.html">
    <i class="fas fa-users"></i>
    <span>utilisateurs</span>
    </a>
    </li>

    <li>
    <a href="profile-settings.html">
    <i class="fas fa-user-cog"></i>
    <span>Profile Settings</span>
    </a>
    </li>
    <li>
    <a href="change-password.html">
    <i class="fas fa-lock"></i>
    <span>Change Password</span>
    </a>
    </li>
    <li>
    <a href="index.html">
    <i class="fas fa-sign-out-alt"></i>
    <span>Logout</span>
    </a>
    </li>
    </ul>
    </nav>
    </div>
    </div>
    </div>
    
    <div class="col-md-7 col-lg-8 col-xl-9">
    <div class="card">
    <div class="card-body pt-0">
    
      <nav class="user-tabs mb-4">
        <div class="d-flex justify-content-between align-items-center">
          <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/users" data-bs-toggle="tab">Tous les utilisateurs</a>
            </li>
          </ul>
          <button class="btn btn-primary ms-auto" (click)="openAddUserDialog()">Ajouter</button>
        </div>
      </nav>
      
    
    
    <div class="tab-content pt-0">
    
    <div id="pat_appointments" class="tab-pane fade show active">
    <div class="card card-table mb-0">
    <div class="card-body">
    <div class="table-responsive">
        <table class="table table-hover table-center mb-0">
            <thead>
              <tr>
                <th>Image</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Rôle</th>
                
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>
                    <img *ngIf="user.image" [src]="'data:image/jpeg;base64,' + user.image" alt="User Image" class="avatar-img rounded-circle" style="width: 50px; height: 50px;">
                  </td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
               
                <td class="text-end">
                  <div class="table-action">
                    <!-- <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                      <i class="fas fa-print"></i> Print
                    </a>
                    <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                      <i class="far fa-eye"></i> View
                    </a> -->
                    <a>                    <button mat-button (click)="openEditDialog(user) "class="btn btn-sm bg-info-light">Modifier</button>
                    </a>

                   <a> <button (click)="deleteUser(user.id)  "class="btn btn-sm bg-danger-light">Supprimer</button>
                   </a> 
                </div>
                </td>
              </tr>
            </tbody>
          </table>
          
    </div>
    </div>
    </div>
    </div>
    
    
    
    
    
 
    
    
 
    
    </div>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    <app-footer></app-footer>